
.logo {
	background-image: url('http://lorempixel.com/1000/100/sports/');
	background-repeat: no-repeat;
	background-position: center;
  height: 120px;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.item{
  color: white;
  font-family: sans-serif;
  background: #0A77E9;
  padding: 5px 15px;
  margin: 5px;
  border-radius: 6px;
  width: 32%;
  height: 250px;
}

#nav {
  & ul {
    display: flex;
    width: 100%;
    align-items: center;
    & li {
      flex: 1 1 100%;
    }
  }
}

ul {
  border-bottom: 1px solid #ccc;
  list-style: none;
  margin: 0 0 1.5rem 0;
  padding: 0;
}
li {
  background-image: linear-gradient(
    to bottom,
    transparent 50%,
    rgba(162,211,156, 1) 50%,
    rgba(162,211,156,1) 95%,
    rgba(124,197,118,1) 95%
  );
  background-size: 100% 200%;
  background-position: top center;
  color: #666;
  display: block;
  text-align: center;
  text-decoration: none;
  transition: all .25s ease-in-out;
  &:hover {
    background-position: bottom center;
    color: rgba(0,0,0,.75);
  }
  & a {
    color: #666;
    display: block;
    padding: 1rem 0;
    transition: all .25s ease-in-out;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(82, 161, 160, 0.812);
}

.container_footer {
  width: auto;
  padding: 0 15px;
  margin: 20px 0;
  text-align: center;
}
