/* line 8, ../../../sass/imports/style.scss */
.container {
  width: 90%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  background: #F5F5F5;
  font-family: 'Roboto', sans-serif; }

/* line 22, ../../../sass/imports/style.scss */
.item {
  margin: 1%;
  width: 31%;
  padding-bottom: 20px;
  min-width: 300px; }

/* line 30, ../../../sass/imports/style.scss */
.header {
  height: 50px;
  width: 60%;
  padding: 5px;
  border-radius: 6px;
  margin-bottom: 2px; }

/* line 38, ../../../sass/imports/style.scss */
.title {
  width: 100%;
  border-bottom: 1px solid #E4E4E4;
  padding: 15px 15px; }

/* line 44, ../../../sass/imports/style.scss */
.body {
  border: 1px solid #E4E4E4;
  width: 100%;
  background: blue;
  border-radius: 6px;
  background: #FFF; }

/* line 52, ../../../sass/imports/style.scss */
.content-text {
  padding: 0px 15px;
  font-size: 20px;
  color: #333; }

/* line 58, ../../../sass/imports/style.scss */
.labels {
  width: 100%; }
  /* line 60, ../../../sass/imports/style.scss */
  .labels ul {
    display: flex;
    margin-top: 3px;
    font-size: 12px; }
    /* line 64, ../../../sass/imports/style.scss */
    .labels ul li:nth-child(1) {
      padding: 5px 10px;
      flex: 0 0 25%; }
    /* line 68, ../../../sass/imports/style.scss */
    .labels ul li {
      padding: 5px 10px;
      flex: 0 0 7%; }

/* line 75, ../../../sass/imports/style.scss */
.comments {
  display: flex;
  flex-direction: row;
  padding: 15px; }

/* line 82, ../../../sass/imports/style.scss */
.btn {
  height: 40px;
  width: 30%;
  color: #2889D8;
  background-color: white;
  border-radius: 60px;
  border: 1px solid #2889D8;
  margin-left: 10px; }

/* line 93, ../../../sass/imports/style.scss */
.circle {
  width: 40px;
  height: 40px;
  border-radius: 60px 60px 60px 60px;
  background: grey; }

/* line 99, ../../../sass/imports/style.scss */
.img-circle {
  margin-right: 10px; }

/* line 103, ../../../sass/imports/style.scss */
span.special-text {
  color: #2889D8; }

/* line 107, ../../../sass/imports/style.scss */
img {
  max-width: 100%; }

/* line 111, ../../../sass/imports/style.scss */
span.box {
  border: 1px solid #E4E4E4;
  padding: 5px 10px;
  color: #aaa; }

/* line 117, ../../../sass/imports/style.scss */
span.selected {
  color: #F64F5A; }

/* line 121, ../../../sass/imports/style.scss */
li.cost {
  font-weight: bold;
  font-size: 16px;
  color: #F3AB4C;
  min-width: 100px; }

/* line 128, ../../../sass/imports/style.scss */
.header-text {
  font-size: 13px;
  color: #aaa; }
